@import url("https://fonts.googleapis.com/css2?family=Licorice&family=Nothing+You+Could+Do&family=Quicksand:wght@300;400;500;600;700&family=The+Nautigal&family=Waterfall&display=swap");
@font-face {
  font-family: aqua;
  src: url(aqua.ttf);
}

* {
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden !important;
}

body {
  margin: 0;
  background-color: #55205a;
  background-image: url(assets/sky2.png);
  background-size: cover;
  max-height: 1080px;
}

.container {
  display: flex;
  justify-content: center;
}

h1,
p {
  z-index: 2;
  text-align: center;
  position: relative;
}

h1 {
  text-transform: uppercase;
  animation: birgir 6s ease-in-out infinite;
  font-family: aqua;
  font-size: 4rem;
  margin: 15px;
  color: transparent;
  background: -webkit-linear-gradient(right, #fc9b2d, #cc186b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 8px transparent;
  }

  h3 {
    color: #fc9b2d;
  }

p {
  font-size: large;
  margin: 0;
  color: #330d32;
  font-weight: 700;
 }

.game {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  width: 800px;
  height: 600px;
  z-index: 10;
  position: fixed;
  left: 12%;
  margin: 15px;
  background: radial-gradient(
        circle at 100% 100%,
        transparent 0,
        transparent 15px,
        transparent 15px
      )
      0% 0%/25px 25px no-repeat,
    radial-gradient(
        circle at 0 100%,
        transparent 0,
        transparent 15px,
        transparent 15px
      )
      100% 0%/25px 25px no-repeat,
    radial-gradient(
        circle at 100% 0,
        transparent 0,
        transparent 15px,
        transparent 15px
      )
      0% 100%/25px 25px no-repeat,
    radial-gradient(
        circle at 0 0,
        transparent 0,
        transparent 15px,
        transparent 15px
      )
      100% 100%/25px 25px no-repeat,
    linear-gradient(transparent, transparent) 50% 50% / calc(100% - 20px)
      calc(100% - 50px) no-repeat,
    linear-gradient(transparent, transparent) 50% 50% / calc(100% - 50px)
      calc(100% - 20px) no-repeat,
    linear-gradient(0deg, #fc9b2d 0%, #cc186b 100%);
  padding: 15px;
  box-sizing: content-box;
}

.illu img {
  z-index: 0;
  max-height: 1000px;
  position: fixed;
  top: -5%;
  right: 0;
  padding-top: 20px;
}

footer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 50;
}

footer a {
  text-decoration: none;
  color: #fc9b2d;
  font-weight: 700;
}

#orientationWarning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  text-align: center;
  z-index: 9999;
}

@media screen and (orientation:portrait) {
  body {
    background-image: url(assets/sky3.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .game, footer, .about, .illu img {
    display: none;
    visibility: hidden;
  }
  p {
    color: #cc186b;
  }
 }

@media only screen and (orientation: landscape) and (pointer: coarse){
  * {
    position: static;
  }

  body {
    margin: 0;
    margin-top: 10px;
    background-image: url(assets/sky3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 main {
      display: grid; 
      grid-auto-columns: 1fr; 
      grid-template-columns: 1.5fr 0.5fr; 
      grid-template-rows: 1fr; 
      gap: 10px 10px; 
      grid-template-areas: 
        "game about"; 
    }

    .about { 
    z-index: 3; 
    margin: 0;
    position: fixed;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    padding: 10px;
    margin-top: 15rem;
    margin-left: 10rem;
  }
  h1 {
    font-size: 2em;
    -webkit-text-stroke: 4px transparent;
  }

  p {
    font-size: 15px;
  }

  .game {
    grid-area: game;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:fit-content;
    left: 0%;
    margin: 10px;
  }

  .illu img {
    top: 0%;
    padding-top: 20px;
  }

  footer {
    display: none;
    visibility: hidden;
  }
} 

@media (max-device-height: 600px) {
  .game {
      margin: 0px;
      width:95%;
      height: 85%;
    }
}

@media (max-device-width: 900px) and (max-device-height: 600px) {
    .game {
        margin: 0px;
        width:95%;
        height: 85%;
      }

}

@keyframes birgir {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
